/* FONTS */
/* 
font-family: 'Gentium Book Basic', serif;
font-family: 'Lato', sans-serif;
font-family: 'Yeseva One', cursive; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
}

.margin-left-sm {
  margin-left: 3rem;
}

.bg-container {
  width: 160rem;
  margin: 0 auto;
  padding-bottom: 11rem;
  background-image: url("../img/promo/promo-bg.jpeg");
  background-size: cover;
  background-position: center;
}

.header {
  height: 11rem;
  display: flex;
  justify-content: space-between;
  padding: 0 17.5rem;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.01)
  );
}

.nav {
  display: flex;
  justify-content: space-around;
}

.logo {
  align-self: center;
}

.logo-text,
.section-heading,
.nav-link {
  font-family: Yeseva One, cursive;
  color: #fff;
}

.logo-text {
  text-decoration: none;
  font-size: 3.8rem;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 1.6rem;
}

.nav-item {
  display: flex;
}

.nav-link:link,
.nav-link:visited {
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  border-top: 4px solid rgba(255, 255, 255, 0);
  padding: 0 1.6rem;

  transition: all 0.5s;
}

.nav-link:hover,
.nav-link:active,
.nav-link.nav-link--active {
  border-top: 4px solid rgba(255, 255, 255, 0.6);
}

.social-link {
  text-decoration: none;
  color: #dab33e;
}

.nav-social-icons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.social-icon {
  display: flex;
  width: 2.4rem;
  height: 2.4rem;
  align-items: center;
  justify-content: center;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3.2rem;
  margin-top: 11rem;
}

.section-heading {
  font-weight: 100;
  font-size: 8.6rem;
  line-height: 1.4;
  letter-spacing: 0.25rem;
  color: #fff;
}

.divider {
  display: block;
  width: 24rem;
}

.btn {
  width: 23rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  color: #fff;
  transition: all 0.4s;
}

.btn--black {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #000;
}

.btn--white {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #fff;
}

.btn--white:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #000;
}

.btn--black:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #fff;
  color: #333;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
}
