/* FONTS */
/* 
font-family: 'Gentium Book Basic', serif;
font-family: 'Lato', sans-serif;
font-family: 'Yeseva One', cursive; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
}

.section-container {
  padding: 10rem 17.5rem;
}

.logo-text,
.primary-heading,
.section-heading,
.nav-link {
  font-family: Yeseva One, cursive;
  font-weight: 100;
  color: #fff;
}

.section-heading {
  font-size: 3.2rem;
}

.margin-left-sm {
  margin-left: 3rem;
}

.text-gold {
  color: #cc9900;
}

.text-white {
  color: #fff;
}

.bg-container {
  width: 160rem;
  margin: 0 auto;
}

.section-text {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  font-weight: 100;
  margin: 1.6rem 0 3.2rem 0;
}

.bg-img-promo {
  padding-bottom: 11rem;
  background-image: url("../img/promo/promo-bg.jpeg");
  background-size: cover;
  background-position: center;
}

.header {
  height: 11rem;
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  padding: 0 17.5rem;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.01)
  );
}

.logo {
  align-self: center;
  text-transform: uppercase;
}

.logo-text:link,
.logo-text:visited {
  text-decoration: none;
  font-size: 3.8rem;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
}

.nav-item {
  display: flex;
}

.nav-link:link,
.nav-link:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  border-top: 4px solid rgba(255, 255, 255, 0);
  padding: 0 1.2rem;
  transition: all 0.5s;
}

.nav-link:hover,
.nav-link:active,
.nav-link.nav-link--active {
  border-top: 4px solid rgba(255, 255, 255, 0.6);
}

.nav-social-icons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.social-link:link,
.social-link:visited {
  text-decoration: none;
  color: #dab33e;
}

.social-link:hover,
.social-link:active {
  color: #fff;
}

.social-icon {
  display: flex;
  width: 2.4rem;
  height: 2.4rem;
  align-items: center;
  justify-content: center;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3.2rem;
  margin-top: 11rem;
}

.primary-heading {
  width: 70%;
  font-size: 8.6rem;
  line-height: 1.4;
  letter-spacing: 0.25rem;
}

.divider {
  width: 24rem;
}

.button {
  width: 23rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}

.button--black {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #000;
}

.button--white {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #fff;
}

.button--white:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #000;
}

.button--black:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #fff;
  color: #333;
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
}

/* SECTION ABOUT */

.bg-img-about {
  background-image: url("../img/bg-pattern.png");
}

.about {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.about-content {
  width: 43rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.dish-img {
  border-radius: 50%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

/* SECTION INGREDIENTS */

.bg-img-ingredients {
  background-image: url("../img/ingredients/ingredients-bg.jpeg");
  background-size: cover;
  background-position: center;
}

.ingredients {
  display: flex;
  justify-content: end;
}

.ingredients-content {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 8rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.ingredients-images {
  display: flex;
  gap: 3rem;
}

.ingredient {
  border-radius: 100%;
  width: 12rem;
  height: 12rem;
  overflow: hidden;
  border: 5px solid rgba(119, 119, 119, 0.25);
}

.ingredient-wheat {
  transform: scale(1.2) translate(-3rem, -2rem);
}

.ingredient-meatball {
  transform: scale(1.2) translate(-2rem, -7.5rem);
}
.ingredient-bread {
  transform: scale(1.2) translate(-3rem, -0.5rem);
}

/* SECTION MENU */

.section-menu {
  background-image: url("../img/menu/menu-bg-pattern.png");
}

.menu {
  display: flex;
  justify-content: center;
  gap: 16rem;
}

.menu-column {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 5rem;
}

.menu-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.menu-list {
  list-style: none;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  gap: 3rem;
  padding: 0 5rem;
}

.menu-item {
  padding: 1rem;
}

.menu-item-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cc9900;

  font-size: 2.1rem;
  line-height: 2.1;
  font-family: Yeseva One, cursive;
  color: #cc9900;
}

.menu-item-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.menu-item--special {
  position: relative;
  border: 1px solid #cc9900;
}

.menu-item--special::after {
  content: "Special";
  position: absolute;
  top: 0;
  right: -1px;

  font-size: 1.2rem;
  text-align: center;
  color: #fff;

  background-color: #cc9900;
  padding: 0.25rem 0.5rem;
  transform: translateY(-100%);
}
